@import 'src/styles/colors';

.container {
	padding: 0.75rem;
	margin-bottom: 0.5rem;
	border-radius: 5px;
	background-color: $background-color;
	margin: 5px;
}

.container:hover {
	background-color: $highlight-color;
	color: white;
}

.episode-info p {
	margin: 0;
	font-size: 0.75rem; 
}
