<div class="container">
	<div class="episode-info">
		<p>
			<strong>Episode:</strong> {{ formatEpisode(episode) }}
		</p>
		<p>
			<strong>Name:</strong> {{ episode.name }}
		</p>
		<p>
			<strong>Air date:</strong> {{ formatAirDate(episode.air_date.toString()) }}
		</p>
	</div>
</div>