@import 'src/styles/colors';

.navbar {
	display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $highlight-color;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.navbar-title {
	display: inline-block;
	font-size: 1.25rem;
	color: white;
}

.navbar-title p {
	margin: 0;
}