<form [formGroup]="loginForm" (ngSubmit)="login($event)" (keydown)="keyDownForm($event)">
	<div class="container">
		<small>
			<strong>Log in using:</strong>
			<br>eval@grainchain.io
			<br>grainchain.io
		</small>
	</div>
	<div class="container">
		<label for="email" class="label">Email</label>
		<input id="email" type="text" class="input" formControlName="email" autofocus />
		<div *ngIf="email.invalid && (email.dirty || email.touched)">
			<div *ngIf="email.errors.required">
				<span class="text-error">Email is required.</span>
			</div>
			<div *ngIf="email.errors.pattern">
				<span class="text-error">Email is invalid.</span>
			</div>
		</div>
	</div>
	<div class="container">
		<label for="password" class="label">Password</label>
		<input id="password" type="password" class="input" formControlName="password" />
		<div *ngIf="password.invalid && (password.dirty || password.touched)">
			<div *ngIf="password.errors.required">
				<span class="text-error">Password is required.</span>
			</div>
		</div>
	</div>
	<div class="container" *ngIf="!entering">
		<button type="submit" class="button">Continue</button>
	</div>
	<div class="container" *ngIf="loginFail">
		<span class="text-error">The email and password you entered did not match.</span>
	</div>
</form>