@import 'src/styles/colors';

.alert {
	margin: 0.5rem;
	margin-left: 0;
}

.alert div {
	padding: 1rem;
	min-width: 7rem;
	border-radius: 10px;
}

.alert-success {
	background-color: $success-color;
	color: black;
}

.alert-warning {
	background-color: $warning-color;
	color: black;
}

.alert-error {
	background-color: $error-color;
	color: white;
}

.alert-message {
	margin: 0;
	font-size: .9rem;
}