<div class="alert">
	<div [ngClass]="{ 'alert-success': type === 'success', 'alert-warning': type === 'warning', 'alert-error': type === 'error' }">
		<p class="alert-message">
			<strong>Notification:</strong>&nbsp;<span [innerHTML]="message"></span>
		</p>
	</div>
</div>