<div class="side-menu">
	<ul class="side-menu-buttons" *ngIf="isAuthenticated">
		<li *ngFor="let item of menu" [routerLink]="'/' + item" [routerLinkActive]="['active']">
			<p>
				<strong>{{ formatMenuItem(item) }}</strong>
			</p>
		</li>
	</ul>
</div>