@import 'src/styles/colors';

.side-menu {
  height: 100%;
  background-color: $background-color;
  font-size: 0;
  padding: 0.5rem;
}

.side-menu-buttons {
  padding: 0;
  list-style-type: none;
}

.side-menu-buttons li {
  margin: 0.5rem;
  border-radius: 5px;
  padding: 0.7rem;
  background-color: $background-color;
  cursor: pointer;
}

.side-menu-buttons .active {
  background-color: $highlight-color;
}

.side-menu-buttons li p {
  margin: 0;
  font-size: 0.9rem;
  color: $highlight-color;
}

.side-menu-buttons .active p {
  color: white;
}