<div class="character-container" (click)="edit()">
	<div class="character-image">
		<img [src]="character.image">
	</div>
	<div class="character-info">
		<p>
			<strong>{{ character.name }}</strong>
		</p>
		<p>
			<small>{{ character.location.name }}</small>
		</p>
		<div class="character-status">
			<app-badge [text]="ucFirst(character.status.name)"></app-badge>
		</div>
	</div>
</div>
<div class="edit-container" *ngIf="editCharacter">
	<h3>Edit character</h3>
	<div class="container">
		<label for="name" class="label"><strong>Name:</strong></label>
		<input id="name" type="text" class="input" [(ngModel)]="character.name" />
	</div>
	<div class="container">
		<label for="location" class="label"><strong>Location:</strong></label>
		<input id="location" type="text" class="input" [(ngModel)]="character.location.name" />
	</div>
	<div class="container">
		<button *ngIf="!updating" type="button" class="button reset" (click)="reset()">Reset</button>
		<button *ngIf="!updating" type="button" class="button update" (click)="update()">Update</button>
		<p *ngIf="updating">
			<strong>Updating character. Please wait...</strong>
		</p>
	</div>
</div>