@import 'src/styles/colors';

.character-container {
	padding: 1rem;
	margin-bottom: 0.5rem;
	border-radius: 10px;
	background-color: $background-color;
	display: flex;
	cursor: pointer;
}

.character-image {
	margin-right: 1rem;
}

.character-image img {
	max-height: 70px;
	max-width: 70px;
}

.character-info p {
	margin: 0;
	word-break: break-word;
}

.character-status {
	margin-top: 0.75rem;
}

.edit-container {
	padding: 1.5rem;
}

.edit-container h3 {
	margin: 0;
}

.container {
	padding-top: 1rem;
	padding-left: 0;
	padding-bottom: 0.25rem;
	max-width: 50%;
	display: flex;
  	align-items: center;
}

.container .label {
	margin-right: 0.5rem;
}

.reset {
	color: $highlight-color;
	font-weight: 600;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

.update {
	background-color: $highlight-color;
	color: white;
	font-weight: 600;
	margin-bottom: 1rem;
}

@media (max-width: 720px) {
  .character-container {
    display: block;
  }

  .edit-container {
  	padding-left: 0;
  	padding-right: 0;
  }

  .container {
    max-width: 75%;
    display: block;
  }
}