<div>
  <app-header></app-header>

  <div class="main">
  	<div class="menu">
	    <app-side-menu></app-side-menu>
	</div>
	<div class="outlet">
		<router-outlet></router-outlet>

		<app-loading></app-loading>
	</div>
  </div>
</div>
