.main {
	display: flex;
	width: 100%;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

.menu {
	width: 300px;
}

@media (max-width: 720px) {
  .menu {
    width: 150px;
  }
}

.outlet {
	flex-grow: 1;
}