<app-alert *ngIf="notificationDisplay" [message]="notificationMessage" [type]="notificationType"></app-alert>

<h1>Characters</h1>

<app-character-item *ngFor="let character of characters" [character]="character" (alert)="alert($event)"></app-character-item>

<div class="paginate" *ngIf="thereMore">
	<a href="#" (click)="loadMore(); false">Load more</a>
</div>