.container {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
}

@media (max-width: 720px) {
  .container {
    display: block;
  }
}

.paginate {
	margin-top: 1rem;
	text-align: center;
}