<h1>Episodes</h1>

<div class="container">
	<app-episode-item *ngFor="let episode of episodes" [episode]="episode"></app-episode-item>
</div>

<div class="paginate" *ngIf="thereMore">
	<a href="#" (click)="loadMore(); false">Load more</a>
</div>